/* static/styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc; /* Light tan color */
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center; /* Center only the header */
}

form {
    margin: 0 auto;
    width: 320px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    text-align: left; /* Align text to the left inside the form */
    box-sizing: border-box;
}

input[type="text"] {
    display: block;
    width: calc(100% - 22px); /* Adjust width to fit within padding */
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in width */
}

input[type="submit"] {
    display: block;
    width: calc(100% - 22px); /* Adjust width to fit within padding */
    margin: 0 auto; /* Center the submit button */
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in width */
}

label {
    display: block;
    margin-bottom: 5px;
}

.interests-box {
    margin: 0 auto;
    width: 320px;
    padding: 20px;
    border: 2px solid #cccccc;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
}

.interests-box ul {
    padding-left: 20px;
}

.interests-box li {
    padding: 5px 0;
}
